@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

@theme {
  --color-fid-green: #006044;
  --color-fid-accent: #76A923;
}

body {
  background: #F5F5F5;
  color: #1F2937;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up-fade {
  opacity: 0;
  animation: slideUpFade 0.4s ease-out forwards;
}